@font-face {
    font-family: 'Eymen';
    src: url(fonts/eymen_pro/EymenPro-Light.otf);
}

body {
    background-color: #D2E4EE;
    width: 100%;
    height: 100%;
    margin:0;
}

/* ----------- NAVBAR -------- */ 

.topnav {
    position: fixed;
    width: 100%;
    height: 40px;
    display: block;
    top:0;
    z-index: 2000;
    top:0px;
    padding-top: 25px;
    border-bottom: 0.5 solid #00283D;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
}

.topnav h1 {
    font-family: 'Eymen';
    font-size: 17px;
    letter-spacing: 0.07rem;
    margin: 0;
    padding: 0;
    margin-left: 35px;
    position:relative;
    color:#1E1E1E;
}
.right-nav {
    float:right;
    width: 5%;
}

.left-nav {
    float:left;
    width:95%;
}

/* ---- COLLAPSE MENU ------*/

.collapsemenu {
    width: 20%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 65px;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2000;
    
}

.contentmenu p {
    font-family: 'Eymen';
    text-align: center;
    margin: 0;
    padding-top: 7%;
    padding-bottom: 7%;
}

.menuintro {
    margin-top: 10%;
}

/* --------- FIND OUT MORE -------- */

.firstsection {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #98C1D9;
    background-image: url("images/finalZeri.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    z-index: 0;
    border-bottom: 0;
    margin: 0;
}

.firstsection h1 {
    font-family: "Eymen";
    font-size: 30px;
    text-align: center;
    padding-top: 90px;
    color: #1E1E1E;
    text-decoration: none;
    font-weight: lighter;
}
.firstsection h2 {
    font-family: "Eymen";
    font-size: 20px;
    text-align: center;
    color: #1E1E1E;
    text-decoration: none;
    font-weight: lighter;
}
.bottombar {
    display: block;
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0%;
    z-index: 1;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
.bottombar i {
    font-size: 50px;
    position:relative;
    bottom: 10px;
    color: #E3E3E3;
}

.bottombar p {
    font-family: 'Eymen';
    font-size: 1.3rem;
    line-height: 4rem;
    text-align: center;
}

/* -------------- CHAPTERS ---------- */ 
.chapter {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #D2E4EE;
    margin: 0;
    padding-top: 2%;
}

.chapter h2 {
  font-family: 'Eymen';
  font-size: 1.3rem;
  line-height: 4rem;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  font-weight: lighter;

}
.chapter h3 {
  font-family: 'Eymen';
  font-size: 1.2rem;
  line-height: 4rem;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  font-weight: lighter;
}

/*.chapter p {
    font-family: 'Eymen';
    font-size: 1.3rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
}*/



/*------------------------------GRAPH------------*/
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    font-family: sans-serif;
    font-size: 10px;
  }


/**/
#mapdiv {
    max-width: 40%;
    height: 600px;
    background-color:#D2E4EE;
    margin-left: 33%;
    margin-right: 30%;
  }
/**/
#barchartdiv {
    width: 75%;
    height: 300px;
    margin-left: 12%;
  }
/**/
#piediv {
    width: 50%;
    height: 400px;
    margin-left: 25%;
  }



/*---------------------SIDEBAR---------------*/
.sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 2001;
    top: 0;
    right: 0;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);    
    overflow-x: hidden;
    transition: 1s;
    padding-top: 7%;
    display: none;
  }
  
  .sidebar a {
    padding: 15px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Eymen';
    font-size: 20px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;

  }
  
  .sidebar a:hover {
    color: #98C1D9;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 35px;
    position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .openbtn .material-icons:hover {
    background-color: #98C1D9;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


/*-------------------INTRODUCTION---------------*/
#introduction {
  text-align: center;
}

#introduction img {
  max-height: 35%;
  border-radius: 3rem;
}

#introduction button {
  max-width: 25%;
  border-radius: 30%;
  z-index: 10;
  display: inline-block;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  background-color: #707070;
  color: #f0f6f9;
  font-weight: lighter;

}
#introduction button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

#introduction button a {
  color: #f0f6f9;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Eymen';
}

#introduction p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
}


/*--------------ARTCHIVE----------*/
#archive {
  text-align: center;
}

#archive img {
  max-height: 25%;
  border-radius: 3rem;
}

#archive p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;

}

.percentageR {
  display: inline-table;
  float: right;
  margin-right: 15%;
}

.percentageC {
  display: inline-table;
}

.percentageL {
  display: inline-table;
  float: left;
  margin-left: 15%;
}

.increasingNumber {
  animation: counter 5s infinite alternate ease-in-out;
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 100;
  }
}
/*-------------------------------*/
#archive2 {
  text-align: center;
}

#archive2 p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
}

#archive2 a {
  text-decoration: none;
  color: #1E1E1E;
}

#archive2 a:hover {
  text-decoration: underline;
}

/*---------------allineation and piechart----------*/
#allineation p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

/*-----------------------------*/
#wikidata p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

/*-----------------------------*/
#worldmap p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

#worldmap .chapter {
  padding: 2%;
  padding-bottom: 5%;
}

/*-----------------------------*/
#network1 {
  text-align: center;
}

#network1 p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  display: inline-block;
}

#network1 button {
  padding-top: 520px;
  padding-bottom: 520px;
  max-width: 25%;
  border-radius: 30%;
  z-index: 2;
  display: inline-block;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  padding: 0.2rem 1rem;
  background-color: #707070;
  color: #f0f6f9;
  font-weight: lighter;
}

#network1 button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

#network1 button a {
  color: #f0f6f9;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Eymen';
}
/*-----------------------------*/
#italianwindow {
  margin-top: 60px;
}