@font-face {
    font-family: 'Eymen';
    src: url(fonts/eymen_pro/EymenPro-Light.otf);
}

html {
  margin: 0;  
  scroll-behavior: smooth;
}



body {
    background-color: white;
    width: 100%;
    height: 100%;
    margin:0;
}

/* ----------- NAVBAR -------- */ 


.topnav {
    position: fixed;
    width: 100%;
    height: 40px;
    display: block;
    top:0;
    z-index: 2000;
    top: 0;
    padding-top: 25px;
    border-bottom: 0.5 solid #00283D;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
}

.topnav h1 {
    font-family: 'Eymen';
    font-size: 17px;
    letter-spacing: 0.07rem;
    margin: 0;
    padding: 0;
    margin-left: 35px;
    position:relative;
    color:#1E1E1E;
}
.right-nav {
    float:right;
    width: 5%;
}

.left-nav {
    float:left;
    width:95%;
}

/* ---- COLLAPSE MENU ------*/

.collapsemenu {
    width: 20%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 65px;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 2000;
    
}

.contentmenu p {
    font-family: 'Eymen';
    text-align: center;
    margin: 0;
    padding-top: 7%;
    padding-bottom: 7%;
}

.menuintro {
    margin-top: 10%;
}
.material-icons {
  color:#1E1E1E

}

/* --------- FIND OUT MORE -------- */

.firstsection {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #98C1D9;
    background-image: url("images/finalZeri.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    z-index: 0;
    border-bottom: 0;
    margin: 0;
    padding: 0;
}


.firstsection h1 {
    font-family: "Eymen";
    font-size: 30px;
    text-align: center;
    padding-top: 90px;
    color: #1E1E1E;
    text-decoration: none;
    font-weight: lighter;
    margin: 0;
}
.firstsection h2 {
    font-family: "Eymen";
    font-size: 20px;
    text-align: center;
    color: #1E1E1E;
    text-decoration: none;
    font-weight: lighter;
    margin: 0;
}
.bottombar {
    display: block;
    position: absolute;
    width: 100%;
    height: 5vh;
    bottom: 0%;
    z-index: 1;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
.bottombar i {
    font-size: 50px;
    position:relative;
    bottom: 10px;
    color: #E3E3E3;
}

.bottombar p {
    font-family: 'Eymen';
    font-size: 1.3rem;
    line-height: 4rem;
    text-align: center;
}

.transparent, .transparent1 {
  background:transparent;
  border:none;
  cursor: pointer;
}

.transparent i {
  font-size: 3.5em;
}
/* -------------- CHAPTERS ---------- */ 
.chapter {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #D2E4EE;
    padding-top: 15vh;
    padding-bottom: 15vh;
    margin: 0;
    text-align: center;
}

.chapter h2 {
  font-family: 'Eymen';
  font-size: 30px;
  line-height: 4rem;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0;
  padding: 0;
  font-weight: lighter;

}
.chapter h3 {
  font-family: 'Eymen';
  font-size: 25px;
  line-height: 4rem;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0;
  width: 40%;
  font-weight: lighter;
}

/*.chapter p {
    font-family: 'Eymen';
    font-size: 1.3rem;
    line-height: 4rem;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
}*/



/*------------------------------GRAPH------------*/
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }
  
  text {
    font-family: sans-serif;
    font-size: 10px;
  }


/**/
#mapdiv {
    width: 100% !important;
    height: 600px;
    background-color:#D2E4EE;

  }
/**/

#barchartdiv {
    width: 75%;
    height: 300px;
    margin-left: 12%;
  }
/**/
#piediv {
    width: 50%;
    height: 400px;
    margin-left: 25%;
  }



/*---------------------SIDEBAR---------------*/
.sidebar {
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 2001;
    top: 0;
    right: 0;
    backdrop-filter: saturate(50%) blur(15px);
    background-color: rgba(255, 255, 255, 0.2);    
    overflow-x: hidden;
    transition: 1s;
    padding-top: 7%;
    display: none;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Eymen';
    font-size: 20px;
    color: #1E1E1E;
    display: block;
    transition: 0.3s;

  }
  
  .sidebar a:hover {
    color: #98C1D9;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 25px;
    color: white;
    border: none;
    margin: 0;
    padding: 0;
    margin-right: 35px;
    position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  
  .openbtn .material-icons:hover {
    color: #98C1D9;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


/*-------------------INTRODUCTION---------------*/
#introduction {
  text-align: center;
  background-color: white;
}

#introduction img {
  max-height: 35%;
  border-radius: 0.5rem;
  display: block;
  margin:0 auto;
}

#introduction .graybutton {
  max-width: 25%;
  border-radius: 30%;
  z-index: 10;
  display: inline-block;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  background-color: #707070;
  color: #f0f6f9;
  font-weight: lighter;
  margin-bottom: 30px;
  text-align: center;
}


#introduction button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

#introduction .graybutton a {
  color: #f0f6f9;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Eymen';
}

#introduction p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  text-align: center;
}

#introduction .blank {
  margin: 0;
  padding: 0;
}

/*----------- LINE ----------*/
.line-div {
  width:100%;
  height:20vh;
  display:inline-block;
}
.line-div-big {
  width:100%;
  height:70vh;
  display:inline-block;
  margin-top:0px;
}

.line-div1 {
  width:48%;
  height:100%;
  margin:2px;
  float:left;
}
.line-div2 {
  border-left: 1px solid #707070;
  width:51%;
  height:100%;
  margin:2px;
  float:right;
}

/*--------------ARTCHIVE----------*/
#archive {
  text-align: center;
  background-color: white;
}

#archive img {
  max-height: 25%;
  border-radius: 0.5rem;
  display: block;
  margin:0 auto;

}

#archive p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;

}
#archive p.aboutph {
  font-size: 1.5rem;
}

.percentageR {
  display: inline-table;
  float: right;
  margin-right: 20%;
  width: 20%;
}

.percentageC {
  display: inline-table;
  width: 20%;
}

.percentageL {
  display: inline-table;
  float: left;
  margin-left: 20%;
  width: 20%;
}

.increasingNumber {
    font-family: 'Eymen';
    font-size: 2rem;
}
/*-------------------------------*/
#archive2 {
  text-align: center;
  background-color: #D2E4EE;
}

#archive2 p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
}

#archive2 a {
  text-decoration: none;
  color: #1E1E1E;
}

#archive2 a:hover {
  text-decoration: underline;
}
#archive2 p.aboutph {
  font-size: 1.5rem;
}
/*---------------allineation and piechart----------*/
#allineation {
  text-align: center;
  background-color: #D2E4EE;
}

#allineation p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

/*-----------------------------*/
#wikidata {
  text-align: center;
  background-color: white;
}

#wikidata p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

/*-----------------------------*/

#worldmap {
  text-align: center;
  background-color: #D2E4EE;

}

#worldmap p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

#worldmap .chapter {
  padding: 2%;
  padding-bottom: 5%;
}

/*-----------------------------*/
#network1 {
  text-align: center;
  background-color: #D2E4EE;
}

#network1 p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  display: inline-block;
}

/*#network1 button {
  padding-top: 520px;
  padding-bottom: 520px;
  max-width: 25%;
  border-radius: 30%;
  z-index: 2;
  display: inline-block;
  border: 0.3rem solid transparent;
  border-radius: 3rem;
  padding: 0.2rem 1rem;
  background-color: #707070;
  color: #f0f6f9;
  font-weight: lighter;
}*/

#network1 button:hover {
  transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0);
}

#network1 button a {
  color: #f0f6f9;
  text-decoration: none;
  font-weight: lighter;
  font-size: 18px;
  font-family: 'Eymen';
}
/*-----------------------------*/
#italianwindow {
  margin-top: 60px;
  text-align: right;
  background-color: white;
}

#italianwindow p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 10%;
  padding-left: 5%;
  display: block;
  float: right;
  width: 45%;
}

#italianwindow .italyimg {
  float: left;
  display: block;
  width: 25%;
  padding-right: 5%;
  padding-left: 10%;
}


#network2 {
  text-align: center;
}

#network2 p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

/*------------------------------------------slideshow-----------------------------------------*/
.mySlides {display: none};

.mySlides img {vertical-align: middle;

  border-radius: 0.5rem;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  color: white;
  width: auto;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  border-radius: 4px;
  user-select: none;
}

.next {
  font-size: 2em;
  right: 10%;
}

.prev {
  font-size: 2em;
  left: 10%;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #707070;
  backdrop-filter: saturate(50%) blur(15px);


}

/* Caption text */
.captiontext {
  color: #f2f2f2;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Eymen';
  text-shadow: 2px 2px 2px #121418;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #707070;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Eymen";
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.point {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .point:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/*---------------*/
#conclusion {
  text-align: center;
  background-color: white;
}

#conclusion p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

#data {
  text-align: center;
}

#data p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

#about {
  text-align: center;
  background-color: #98C1D9;
}

#about p {
  line-height: 2rem;
  font-family: 'Eymen';
  font-size: 1rem;
  padding-right: 5%;
  padding-left: 5%;
  text-align: center;
}

.footer {
  text-align: center;
  background-color: #98C1D9;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.jsonicon {
  display: inline-block;
  width: 10%;
  transition: transform .2s; /* Animation */
  padding-top: 70px;
}

.jsonicon:hover {
  transform: scale(1.1);
}

.rdficon {
  display: inline-block;
  width: 10%;
  transition: transform .2s; /* Animation */
  padding-top: 70px;
}

.rdficon:hover {
  transform: scale(1.1);
}

.humans {
  color: #707070;
}

.us {
  width: 20%;
  display: inline-block;
  font-family: 'Eymen';
  line-height: 1.4em;

}

.us img {
  width: 70%;
  border-radius: 0.5em;
}

.us .activities {
  text-transform: uppercase;
  padding: 0; 
  margin: 0;
  line-height: 1.2em !important;
}

.us .bio {
  line-height: 1.2em!important;
}


.contact, .footer a {
  text-decoration: none;
  color: #1E1E1E;
}

.contact:hover, .footer a:hover{
  text-decoration: underline;
}

.footer {
  background-color: #98C1D9;
  height: 40vh;
  font-family: 'Eymen';
  font-size: 14px;
  padding-bottom: 5%;
}

